.react-tabs-container{
    color: #000!important;
    background-color: #f1f1f1!important;
    border-bottom: 1px solid #ccc!important;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
}

.react-tabs-tab-content{
    text-align: center;
    display: inline-block;
    width: calc(100% - 20px);
    overflow: hidden;

}

.react-tabs-tab{
    padding: 7px;
    opacity: 1;
    font-size: 12px;
    flex-grow: 1;
    max-width: 200px;
    min-width: 40px;
    font-family: "Segoe UI",sans-serif;
}

.react-tabs-child{
    padding: 7px;
    opacity: 1;
    font-size: 12px;
    flex-grow: 0;
}
.react-tabs-tab-close{
    border-color: #001f27;
    visibility: hidden;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    width:11px;
}

.react-tabs-active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(97, 97, 97) !important;
}

.react-tabs-active .react-tabs-tab-close{
    visibility: visible;
}

.react-tabs-active .react-tabs-tab-close:hover{
    cursor: pointer;
    visibility: visible;
}
